<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppUrl" value="https://au.unleashedsoftware.com/v2/Account/LogOn" />
    <add key="ApiBaseUrl" value="https://api.unleashedsoftware.com/" />
    <add key="ApiId" value="debc583e-b68f-4fa9-972c-927fcab81d15" />
    <add key="ApiKey" value="ov9Zr7rBGcSB6f0rsJnN6nNSxEuCdClO8fmMt4Jq0phUgH5HOgzSQuVV1YzkeqkheF2ErVyL6XDOMCKD2jqGnw==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>